# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
.nyc_output/

# Build
dist/
build/

# Misc
.cache/
temp/
tmp/
tree.ps1